<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <machineKey decryptionKey="83773FB684FA11E55006BDBF1E2DBA9B35726F6A3D324D0C5B8AC0FA69B06871" validationKey="D44CF7F89CCA6D97D0648415EE68D3ED88C82805119CAA2C2F197906F40ED8FD" decryption="AES" validation="HMACSHA256" />
  </system.web>
  
</configuration>